<div class="flex flex-row items-center justify-center p-10 h-screen w-screen">
    <mat-card>
        <mat-card-content>
            <div class="drop-shadow-2xl p-6 rounded-xl flex flex-col">
                <h1 class="">Login page</h1>
                <section [formGroup]="authForm" class="flex flex-col">
                    <input autocomplete="off" formControlName="email" class="p-2 mb-1" matInput placeholder="email">
                    <input autocomplete="off" formControlName="password" class="p-2 mb-1" matInput
                        placeholder="password" type="password">
                </section>

                <button (click)="normalAuth()" mat-raised-button>Login</button>
                <span class="my-4 w-full text-center text-slate-600 text-sm">Or Login with</span>
                <button class="mb-2" color="primary" (click)="facebookAuth()" mat-raised-button>
                    Facebook
                </button>
                <button class="mb-2" color="warn" (click)="googleAuth()" mat-raised-button>Google</button>
                <br>
                <span class="text-center block w-full">OR</span>
                <button class="mb-2" [routerLink]="['/','auth','register']" color="dark"
                    mat-raised-button>Register</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>